.container{
    margin-bottom: 100px;
}
.orange-bg{
    background-color: #fceae8 ;
    border-radius: 10px;


}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color: rgb(243, 20, 243);
}
.buy-now-button{
    background-color: rgb(243, 20, 243);
    color: white;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
.card{
    border:none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightgray;
}
.card-footer{
    background-color: white;
    border-top: none;
}
#Subscribe{
    height: 300px;
}
#Subscribe h6{
    color: gray;
}
footer{
    text-align: center;
}